<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card border-0 shadow-lg mb-5">
                <div class="card-body text-center p-5">
                    <h1 class="card-title fw-bold mb-3">Thank You for Your Submission!</h1>
                </div>

                <div class="card-header bg-info bg-opacity-10 text-center p-3">
                    <h3 class="mb-0 fw-bold">Your Submitted Information</h3>
                </div>
                <div class="row pt-4 ps-5 ">
                    <div class="col-md-6">
                        <h4 class="mb-3 text-info">Personal Details</h4>

                        <div class="mb-3">
                            <label class="form-label text-muted mb-1">First Name</label>
                            <p class="fs-5 fw-semibold">{{infoService.infoPersonal().firstName}}</p>
                        </div>
                        <div class="mb-3">
                            <label class="form-label text-muted mb-1">Last Name</label>
                            <p class="fs-5 fw-semibold">{{infoService.infoPersonal().lastName}}</p>

                        </div>

                        <div class="mb-3">
                            <label class="form-label text-muted mb-1">Email</label>
                            <p class="fs-5 fw-semibold">{{infoService.infoPersonal().email}}</p>
                        </div>

                        <div class="mb-3">
                            <label class="form-label text-muted mb-1">Phone</label>
                            <p class="fs-5 fw-semibold">{{infoService.infoPersonal().phone}}</p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h4 class="mb-3 text-info">Appointment Details</h4>

                        <div>
                            <label class="form-label text-muted">Preferred Time</label>
                            <p class="fs-5 fw-semibold mb-1">{{infoService.infoPersonal().time}}</p>
                            <small class="text-muted textCST">(CST timezone)</small>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>