:host {
  display: block;
}


.custom-select {
  padding: 1em 10em 1em 1em;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #afa9ac;
  color: #a19ea0;
  border-radius: 3px;
  background-color: #fff;
  font-size: 0.7rem;
}

.fs-7 {
  font-size: 0.7rem;
}